.movie-details,
.movie-details-more {
  padding: 40px;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px #262626 solid;
  position: relative;
}
.movie-details-more {
  height: fit-content;
}
.btn-review-det {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.actor-square {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  margin-right: 15px;
}

.more-actors {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  border: 1px #262626 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #141414;
  font-size: 1.6rem;
}
.flex-cast {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.circle-arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.flex-arrows {
  display: flex;
  position: absolute;
  top: 25px;
  right: 33px;
}
.flex-movie-dets {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.title-box-movie-det {
  color: gray;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.titleMoreDets {
  color: #999999;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  gap: 5px;
  width: fit-content;
  align-items: center;
  margin-bottom: 15px;
}

.tag-box {
  padding: 9px 12px;
  background-color: #141414;
  border-radius: 8px;
  border: 1px solid #1f1f1f;
  width: fit-content;
}

.tag-box-text {
  color: white;
  letter-spacing: 0.7px;
  font-size: 1.4rem;
}

.ratingMoreMovie {
  background-color: #141414;
  border-radius: 8px;
  border: solid 1px var(--borderColor);
  padding: 15px;
  width: fit-content;
  color: white;
  font-size: 1.8rem;
}

.person-card {
  display: flex;
  align-items: center;
  background-color: #141414;
  padding: 10px;
  padding-right: 120px;
  border-radius: 12px;
  border: 1.5px solid var(--borderColor);
  width: fit-content;
  margin-bottom: 20px;
}
.person-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}

@media (max-width: 776px) {
  .movie-review-box {
    width: 100%;
    min-width: 250px;
  }
  .two-reviews {
    flex-wrap: wrap;
  }
  .movie-details {
    padding: 30px;
  }
}
@media (max-width: 500px) {
  .stars-reviewName{
    flex-direction: column;
  }
  .name-country-review{
    display: flex;
    justify-content: space-around;
  }
  .movie-details {
    padding: 15px;
  }
}
@media (max-width: 420px) {
 .imdb-stream{
  flex-direction: column;
 }
 .person-card{
  width: 80%;
 }
 .movie-details-more{
  padding: 15px;
 }

}
